html{
    scroll-behavior: smooth;
}
/*:root{*/
/*    --main-color: #fff65d;*/
/*    --bg-color: black;*/
/*}*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    color: white;
    overflow-x: hidden;
}
.header{
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    display: flex;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #A4907C;
    height: 20px;
}
.nav_bar{
    position: absolute;
    right: 600px;
    top: 0;
    display: flex;
}
.nav_bar ul{
    list-style: none;
    padding: 20px;
    margin: -2px -149px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    font-family: 'Inika', serif;
    font-size: 13px;
}
.nav_bar li{
    margin: 0;
    padding: 10px;
    transition: transform 0.1s;
    animation: slide-right-nav 1s ease forwards;
}
.nav_bar li:hover{
    content: '';
    transform: scale(1.1);
}
.nav_bar a{
    text-decoration: none;
    color: white;
}
.nav_bar a:hover{
    color: orange;
}
/************************************/
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10% 0;
    color: #9A98A8;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(15, 23, 43, .9)), url(assets/bg-hero.jpg);
}
.welcome{
    font-size: 50px;
    margin-left: -55%;
    color: orange;
    text-align: center;
    text-shadow: black;
}
.welcome span{
    color: white;
    font-family: 'Dosis', sans-serif;
}
.sub{
    font-size: 35px;
    color: #A1CCD1;
    margin-left: -25%;
}
.welcome-para{
    font-size: 18px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    width: 500px;
    margin-left: -25%;
}
img{
    width:500px;
    margin-right: -5%;
}
/*******************************/

.about {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about .topic {
    font-size: 60px;
    color: #FFB000;
    margin-top: 7%;
}
